<%- layout('layout') -%>
<div class="row">
    <div class="col-sm-6"><img src="<%=user.profile.picture%>" alt="" class="img-circle img-responsive img-center"/></div>
    <br/>
    <p>hello, <%=user.profile.name%></p>
</div>
